{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "spaced-comment": 0,
    "new-cap": 0,
    "no-undef": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "global-require": 0,
    "no-confusing-arrow": 0,
    "react/jsx-quotes": 0,
    "quotes":0,
    "jsx-quotes": [
      2,
      "prefer-double"
    ],
    "import/no-dynamic-require": 0,
    "padded-blocks": 0,
    "indent": 0,
    "object-curly-spacing": 0,
    "no-underscore-dangle": 0,
    "react/jsx-curly-spacing": [2, "always"],
    "react/prefer-stateless-function": [0],
    "react/require-extension": "off"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
